# This .editorconfig assumes that
# https://github.com/fibo/home/blob/main/EditorConfig/dot-editorconfig is copied to $HOME/.editorconfig

# Do not trim white space, since markdown files can contain annotated sources.
[*.md]
trim_trailing_whitespace = false
