# Ignore everything ...
*
# ... except the following files and folders
!.ackrc
!.editorconfig
!.gitignore
!.inputrc
!.screenrc
# bin
!.fibo/bin/README.md
!.fibo/bin/ack
!.fibo/bin/clock
# ssh
!.ssh/agent
# bash
!.bash/git-aware-prompt
!.bash/config.sh
# shell
!.shell/aliases.sh
!.shell/profile.sh
!.shell/env.sh
!.shell/cleanup_git_branches
!.shell/dir
!.shell/gh-clone
# zsh
!.zsh/config.sh
!.zsh/CTRL-L.sh
!.zsh/completion/git-completion.bash
!.zsh/completion/npm-completion
